/* src/app/features/tasks/task-search/task-search.component.scss */
.task-search-container {
  max-width: 600px;
  margin: 2rem auto;

  form > div {
    margin-bottom: 0.5rem;
  }

  button {
    margin-right: 1rem;
  }

  .pagination-controls {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
