<!--<div class="container">-->
<!--  <h2>Категории</h2>-->
<!--  <button routerLink="/categories/create" class="btn btn-primary mb-3">Создать Категорию</button>-->
<!--  <table class="table table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>ID</th>-->
<!--      <th>Название</th>-->
<!--      <th>Описание</th>-->
<!--      <th>Действия</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let category of categories">-->
<!--      <td>{{ category.categoryId }}</td>-->
<!--      <td>{{ category.categoryName }}</td>-->
<!--      <td>{{ category.description }}</td>-->
<!--      <td>-->
<!--        <button class="btn btn-sm btn-warning me-2" (click)="navigateToEdit(category)">Редактировать</button>-->
<!--&lt;!&ndash;        <button class="btn btn-sm btn-danger" (click)="onDelete(category.categoryId)">Удалить</button>&ndash;&gt;-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
