<div class="contest-create">
  <mat-card>
    <mat-card-title>Создать контест</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Название</mat-label>
          <input matInput [(ngModel)]="contestData.title" name="title" required />
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Описание</mat-label>
          <textarea matInput [(ngModel)]="contestData.description" name="description"></textarea>
        </mat-form-field>

        <!-- Дата и время начала -->
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Дата и время начала</mat-label>
          <input matInput
                 type="datetime-local"
                 [(ngModel)]="contestData.startTime"
                 name="startTime"
                 required>
        </mat-form-field>

        <!-- Дата и время окончания -->
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Дата и время окончания</mat-label>
          <input matInput
                 type="datetime-local"
                 [(ngModel)]="contestData.endTime"
                 name="endTime"
                 required>
        </mat-form-field>

        <mat-slide-toggle [(ngModel)]="contestData.isPublic" name="isPublic">
          Публичный?
        </mat-slide-toggle>

        <br /><br />
        <button mat-raised-button color="primary" type="submit">
          Создать
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
