/* file: src/app/features/contests/contest-detail/contest-detail.component.scss */

.contest-detail {
  max-width: 800px;
  margin: 2rem auto;

  mat-card {
    margin-bottom: 1rem;
  }

  a {
    margin-right: 0.5rem;
  }
}
