<!--<div class="contest-participate">-->
<!--  <mat-card>-->
<!--    <mat-card-title>Участвовать в контесте</mat-card-title>-->
<!--    <mat-card-content>-->
<!--      <p>Вы уверены, что хотите участвовать в контесте #{{ contestId }}?</p>-->
<!--      <button mat-raised-button color="primary" (click)="participate()">Да, участвовать</button>-->
<!--      <button mat-button color="warn" (click)="router.navigate(['/contests', contestId])">Отмена</button>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
